@model CourseDetailViewModel

@{
    ViewData["Title"] = "Clase";
}

@{
    var role = Context.Session.GetInt32("_Role");
    var currentUser = Context.Session.GetInt32("_Id");
}

@if (role == 2)
{
    <div class="row">
        <div class="col-md-12">
            <div class="mb-1">
                <button type="button" class="btn btn-primary" onclick="openModalRating()">Cargar Notas</button>
                <button type="button" class="btn btn-primary" onclick="openModalToken()">Tomar Asistencia</button>
                <button type="button" class="btn btn-primary" onclick="openModalAproved()">Reporte Notas</button>
                <button type="button" class="btn btn-primary" onclick="openModalAssistance()">Reporte Asistencias</button>
            </div>
            <div class="card">
                <div class="card-header" style="background-color:cadetblue">
                    <h6 class="text-white">Muro</h6>
                </div>
                <div class="card-body" style="height:400px; overflow:auto">

                    @if (Model.Comments.Count() <= 0)
                    {
                        <h5 class="text-center">¡Todavia no hay mensajes!</h5>
                    }

                    <div class="comments-list">
                        @foreach (var msj in Model.Comments)
                        {
                            <a class="list-group-item flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-1"> @msj.Username </h6>
                                    <small class="text-muted"> @msj.CreatedDate </small>
                                </div>
                                <p class="mb-1"> @msj.Commentary </p>
                            </a>
                        }
                    </div>

                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12">
                            <form data-ajax="true" data-ajax-success="PostSuccess" data-ajax-failure="PostFailure" asp-action="CreateComment" asp-controller="Class">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="hidden" name="CourseId" value="@Model.Id" />
                                        <textarea class="form-control" id="Commentary" name="Commentary" maxlength="255" type="text" placeholder="Escribir un comentario..." style="overflow:auto;resize:none"></textarea>
                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-secondary">
                                                <i class="fas fa-paper-plane"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div id="count" class="text-danger"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" style="background-color:cadetblue">
                    <h6 class="text-white">Archivos</h6>
                </div>
                <div class="card-body">
                    @if (Model.Files.Count() <= 0)
                    {
                        <h5 class="text-center">¡No hay archivos cargados!</h5>
                    }
                    <div class="files-list">
                        <ul class="list-group" id="fileList">
                            @foreach (var file in Model.Files)
                            {
                                <li class="list-group-item d-flex justify-content-between align-items-center hidden-sm-down">
                                    @file.FileName
                                    <a asp-action="DownloadFile" asp-controller="File" asp-route-UIdFileName="@file.UIdFileName">
                                        <i class="fas fa-download"></i>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="card-footer">
                    <form enctype="multipart/form-data" data-ajax="true" data-ajax-success="UploadFileSuccess" data-ajax-failure="UploadFileFailure" asp-controller="File" asp-action="UploadFile">
                        <input hidden name="CourseId" value="@Model.Id" />
                        <div class="custom-file">
                            <input type="file" name="File" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Seleccioné archivo</label>
                        </div>
                        <button type="submit" class="btn btn-link">Cargar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
else if (role == 3)
{
    <div class="row">
        <div class="col-md-12">
            <div class="mb-1">
                <button type="button" class="btn btn-primary" onclick="openModalMyRating(@Model.Id)">Mis Notas</button>
                <button type="button" class="btn btn-primary" onclick="openModalLoadToken()">Cargar Asistencia</button>
            </div>
            <div class="card">
                <div class="card-header" style="background-color:cadetblue">
                    <h6 class="text-white">Muro</h6>
                </div>
                <div class="card-body" style="height:400px; overflow:auto">
                    @if (Model.Comments.Count() <= 0)
                    {
                        <h5 class="text-center">¡Todavia no hay mensajes!</h5>
                    }
                    <div class="comments-list">
                        @foreach (var msj in Model.Comments)
                        {
                            <a class="list-group-item flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-1"> @msj.Username </h6>
                                    <small class="text-muted"> @msj.CreatedDate </small>
                                </div>
                                <p class="mb-1"> @msj.Commentary </p>
                            </a>
                        }
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12">
                            <form data-ajax="true" data-ajax-success="PostSuccess" data-ajax-failure="PostFailure" asp-action="CreateComment" asp-controller="Class">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="hidden" name="CourseId" value="@Model.Id" />
                                        <textarea class="form-control" id="Commentary" name="Commentary" type="text" placeholder="Escribir un comentario..." style="overflow:auto;resize:none"></textarea>
                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-secondary">
                                                <i class="fas fa-paper-plane"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" style="background-color:cadetblue">
                    <h6 class="text-white">Archivos</h6>
                </div>
                <div class="card-body">
                    @if (Model.Files.Count() <= 0)
                    {
                        <h5 class="text-center">¡No hay archivos cargados!</h5>
                    }
                    <div class="files-list">
                        <ul class="list-group" id="fileList">
                            @foreach (var file in Model.Files)
                            {
                                <li class="list-group-item d-flex justify-content-between align-items-center hidden-sm-down">
                                    @file.FileName
                                    <a asp-action="DownloadFile" asp-controller="File" asp-route-UIdFileName="@file.UIdFileName">
                                        <i class="fas fa-download"></i>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



<!-- Modal Token -->
<div class="modal fade" id="tokenModal" role="dialog" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="text-center">Generar Token de Asistencía</h5>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                <form data-ajax="true" data-ajax-success="TokenSuccess" data-ajax-failure="TokenFailure" asp-action="CreateToken" asp-controller="Class">

                    <input type="hidden" name="CourseId" value="@Model.Id" />

                    <div class="form-group">
                        <label for="Code">Token</label>
                        <input type="number" name="Code" id="TBoxCode" class="form-control" maxlength="6" minLength="3" required />
                    </div>

                    <div class="form-group">
                        <label for="Duration">Seleccione duración</label>
                        <select name="Duration" id="CBoxDuration" class="form-control" required>
                            <option value="">Seleccioné...</option>
                            <option value="15">15 Segundos</option>
                            <option value="30">30 Segundos</option>
                            <option value="60">60 Segundos</option>
                            <option value="120">120 Segundos</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-success">Generar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Token Alumno -->
<div class="modal fade" id="loadTokenModal" role="dialog" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="text-center">Asistencia</h5>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                <form data-ajax="true" data-ajax-success="LoadTokenSuccess" data-ajax-failure="LoadTokenFailure" asp-action="DetailToken" asp-controller="Class">

                    <input type="hidden" name="CourseId" value="@Model.Id" />

                    <div class="form-group">
                        <label for="Code">Token</label>
                        <input type="number" name="Code" id="TBoxLoadCode" class="form-control" maxlength="6" minLength="3" required />
                    </div>

                    <button type="submit" class="btn btn-success">Dar Asistencia</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Calificaciones -->
<div class="modal fade" id="ratingStudents" role="dialog" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Listado de Notas</h5>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                @foreach (var item in Model.Ratings)
                {
                    <form data-ajax="true" data-ajax-success="RatingSuccess" data-ajax-failure="RatingFailure" asp-action="UpdateRating" asp-controller="Class">
                        <partial name="EditorTemplates/Rating" model="item" />
                    </form>
                }
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Aprobados/Desaprobados -->
<div class="modal fade" id="reportApproved" role="dialog" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reporte de Notas</h5>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                @{
                    if (role == 2)
                    {
                        var user = Model.Ratings.Where(x => x.UserId == currentUser.Value).SingleOrDefault();
                        var approved = Model.Ratings.Where(x => x.Status.ToString() == "Regular" || x.Status.ToString() == "Promotion");
                        var disapproved = Model.Ratings.Where(x => x.Status.ToString() == "Postponed");

                        //string rating;

                        if(Model.Ratings.Count() <= 0)
                        {
                            <h5 class="text-center">¡No hay notas cargadas!</h5>
                        }

                        //var prom = (user.OnePartial + user.TwoPartial + user.FinalNote) / 3;

                        //if (user != null && prom > 7)
                        //{
                        //    rating = "Promoción";
                        //}
                        //else if (user != null && prom > 4 && prom < 7)
                        //{
                        //    rating = "Regular";
                        //}
                        //else
                        //{
                        //    rating = "Aplazado";
                        //}

                        if (approved.Count() > 0)
                        {
                            <div>
                                <h5>Aprobados</h5>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">Nota 1°</th>
                                            <th scope="col">Nota 2°</th>
                                            <th scope="col">Nota Final</th>
                                            <th scope="col">Situación</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in approved)
                                        {
                                            <tr>
                                                <td> @item.OnePartial </td>
                                                <td> @item.TwoPartial </td>
                                                <td> @item.FinalNote </td>
                                                <td> @item.Status </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }

                        if (disapproved.Count() > 0)
                        {
                            <div>
                                <h5>Desaprobados</h5>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">Nota 1°</th>
                                            <th scope="col">Nota 2°</th>
                                            <th scope="col">Nota Final</th>
                                            <th scope="col">Situación</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in disapproved)
                                        {
                                            <tr>
                                                <td> @item.OnePartial </td>
                                                <td> @item.TwoPartial </td>
                                                <td> @item.FinalNote </td>
                                                <td> @item.Status </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                    }
                }
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Asistencias -->
<div class="modal fade" id="reportAssistance" role="dialog" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reporte de Asistencias</h5>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                @{
                    if (role == 2)
                    {
                        var user = Model.Ratings.Where(x => x.UserId == currentUser.Value).SingleOrDefault();
                        var today = DateTime.Now.ToString("yyyy MM dd");

                        if (Model.Assistances.Count() <= 0)
                        {
                            <h5 class="text-center">¡No hay asistencias registradas!</h5>
                        }

                        <div>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Alumno</th>
                                        <th scope="col">Presente</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Assistances)
                                    {
                                        if(@item.Today.ToString("yyyy MM dd") == today)
                                        {
                                            <tr>
                                                <td> @item.UserName </td>

                                                @if (item.Status == true)
                                                {
                                                    <td>Si</td>
                                                }
                                                else
                                                {
                                                    <td>No</td>
                                                }
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                       
                    }
                }
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Calificaciones Alumno -->
<div class="modal fade" id="myRating" role="dialog" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Mis Notas</h5>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                @{
                    if (role == 3)
                    {
                        var user = Model.Ratings.Where(x => x.UserId == currentUser.Value).SingleOrDefault();

                        string rating;

                        if (user == null || user.Status.ToString() == "None")
                        {
                            <h5 class="text-center">¡No hay notas cargadas!</h5>
                        }
                        else
                        {
                            if (user != null && user.FinalNote > 7)
                            {
                                rating = "Promoción";
                            }
                            else if (user != null && user.FinalNote > 4 && user.FinalNote < 7)
                            {
                                rating = "Regular";
                            }
                            else
                            {
                                rating = "Aplazado";
                            }

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Nota 1°</th>
                                        <th scope="col">Nota 2°</th>
                                        <th scope="col">Nota Final</th>
                                        <th scope="col">Situacion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> @user.OnePartial </td>
                                        <td> @user.TwoPartial </td>
                                        <td> @user.FinalNote </td>
                                        <td> @rating </td>
                                    </tr>
                                </tbody>
                            </table>
                        }


                    }
                }
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

    $("#Commentary").keyup(function () {
        $("#count").text("Caracteres restantes: " + (255 - $(this).val().length));
    });

    function openModalAproved() {
        $('#reportApproved').modal('show');
    };

    function openModalAssistance() {
        $('#reportAssistance').modal('show');
    };

    function openModalRating() {
        $('#ratingStudents').modal('show');
    };

    function openModalMyRating(courseId) {
        @*$.ajax({
            type: 'Get',
            url: "@Url.Action("MyRating", "Class")",
            data: { id: courseId },
            success: function (res) {
                var contentBody = $('.my-rating-content');
                contentBody.append('<table class="table table-striped"><thead><tr><th scope="col">Nota 1°</th><th scope="col">Nota 2°</th><th scope="col">Nota Final</th><th scope="col">Estado</th></thead><tbody><tr><td>' + res.onePartial + '</td><td>' + res.twoPartial + '</td><td>' + res.finalNote + '</td><td>' + res.status +'</td></tr></tbody>')
            }
        });*@
        $('#myRating').modal('show');
    };

    function openModalToken() {
        $('#tokenModal').modal('show');
    };

    function openModalLoadToken() {
        $('#loadTokenModal').modal('show');
    };

    function TokenSuccess(xhr) {
        $('#tokenModal').modal('hide');
        $.toast({
            text: 'Se ha generado token',
            hideAfter: 3000,
            allowToastClose: true,
            showHideTransition: 'fade',
            position: 'bottom-center',
            icon: 'success'
        });
        $('#TBoxCode').val('')
        $('#CBoxDuration').val('')
    };

    function TokenFailure(xhr) {
        $('#tokenModal').modal('hide');
        $.toast({
            text: `Error: Revise los campos cargados`,
            hideAfter: 3000,
            allowToastClose: true,
            showHideTransition: 'fade',
            position: 'bottom-center',
            icon: 'error'
        });
        };

    function LoadTokenSuccess(xhr) {
        $('#loadTokenModal').modal('hide');
        $.toast({
            text: 'Se ha cargado token de asistencia',
            hideAfter: 3000,
            allowToastClose: true,
            showHideTransition: 'fade',
            position: 'bottom-center',
            icon: 'success'
        });
        $('#TBoxLoadCode').val('')
    };

    function LoadTokenFailure(xhr) {
        $('#tokenModal').modal('hide');
        $.toast({
            text: `Error: token expirado`,
            hideAfter: 3000,
            allowToastClose: true,
            showHideTransition: 'fade',
            position: 'bottom-center',
            icon: 'error'
        });
    };


    function RatingSuccess(xhr) {
        $('#ratingStudents').modal('hide');
    };

    function RatingFailure(xhr) {
        $('#ratingStudents').modal('hide');
        $.toast({
            text: `Error: Revise los campos cargados`,
            hideAfter: 3000,
            allowToastClose: true,
            showHideTransition: 'fade',
            position: 'bottom-center',
            icon: 'error'
        });
    };

    function UploadFileSuccess(xhr) {
        var data = xhr;
        var files = $("#fileList");
        $("#customFile").val("");
        files.append('<li class="list-group-item d-flex justify-content-between align-items-center hidden-sm-down">' + data.name + '<a href="/File/DownloadFile?UIdFileName=' + data.uIdFileName + '">' + '<i class="fas fa-download"></i ></a></li>');
    };

    function UploadFileFailure(xhr) {
        $.toast({
            text: `Error: Debe cargar algun archivo`,
            hideAfter: 3000,
            allowToastClose: true,
            showHideTransition: 'fade',
            position: 'bottom-center',
            icon: 'error'
        });
    };


    $(document).ready(function () {
        //setInterval(updateCommentsList, 3000);
        $.ajaxSetup({ cache: false });

        // nombre de archivo subido
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });

    });

    function UpdateComments(id) {
        $.ajax({
            type: 'Get',
            url: "@Url.Action("Comments", "Class")",
            data: { id: id },
            success: function (res) {
                var lista = $('.comments-list');
                lista.empty();
                $.each(res.comments, function (e, i) {
                    var hourFormat = moment(new Date(i.createdDate)).format("MM/DD/YYYY h:mm:ss A");
                    lista.append('<a class="list-group-item flex-column align-items-start"> <div class="d-flex w-100 justify-content-between"> <h6 class="mb-1">' + i.username + '</h6> <small class="text-muted"> ' + hourFormat + ' </small> </div><p class="mb-1">' + i.commentary + '</p></a>');
                });
            }
        });
    }

    function PostSuccess(xhr) {
        $('#Commentary').val("");
        var hora = moment(new Date(xhr.createdDate)).format("MM/DD/YYYY h:mm:ss A");
        $(".comments-list").append('<a class="list-group-item flex-column align-items-start" id="message_' + xhr.id + '"><div class="d-flex w-100 justify-content-between"><h6 class="mb-1">' + (xhr.userName == undefined ? '' : xhr.userName) + '</h6><small class="text-muted">' + hora + '</small></div><p class="mb-1">' + xhr.commentary + '</p></a>');
        UpdateComments(xhr.courseId);
    };

    function PostFailure(xhr) {
        $.toast({
            text: `Error: no se pudo publicar comentario, intente nuevamente`,
            hideAfter: 3000,
            allowToastClose: true,
            showHideTransition: 'fade',
            position: 'bottom-center',
            icon: 'error'
        });
    };

    </script>
}