@model PagedResult<CourseListDTO>

@{
    ViewData["Title"] = "Mis Clases";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="box-body card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">
                                N° Comisión
                            </th>
                            <th scope="col">
                                Materia
                            </th>
                            <th scope="col">
                                Día
                            </th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Results)
                        {
                        <tr id="row_@item.Id">
                            <td>
                                @Html.DisplayFor(modelItem => item.CommissionNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MatterName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.WeekdayName)
                            </td>
                            <td class="text-center">
                                
                                <a class="btn btn-sm btn-primary pull-right" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                                
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="box-shadow card-footer">
                <nav aria-label="Page Navigation">
                    <ul class="pagination justify-content-center">
                        @for (int i = 1; i <= Model.PageCount; i++)
                        {
                            <li class="@(i == Model.CurrentPage ? "page-item active" : "page-item")">
                                <a class="page-link" href="@Url.Action("Index", new {CurrentPage = i})">@i</a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>


@section scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}