@model PagedListResultViewModel<CourseListViewModel>

@{
    ViewData["Title"] = "Cursos";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="box-header card-header">
                <a class="btn btn-success pull-right" asp-area="" asp-controller="Course" asp-action="Create">
                    <i class="fas fa-plus mr-1"></i>
                    Nuevo
                </a>
            </div>
            <div class="box-body card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">
                                Comisión
                            </th>
                            <th scope="col">
                                Materia
                            </th>
                            <th scope="col">
                                Carrera
                            </th>
                            <th scope="col">
                                Día
                            </th>
                            <th scope="col">
                                Profesor
                            </th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Entities)
                        {
                        <tr id="row_@item.Id">
                            <td>
                                @Html.DisplayFor(modelItem => item.CommissionNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MatterName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CareerName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.WeekdayName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>


                            <td class="text-center">
                                <a class="btn btn-sm btn-primary pull-right" asp-action="Edit" asp-route-id="@item.Id">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <button id="btnDeleteModal" class="btn btn-sm btn-danger pull-right" onclick="ConfirmDelete(@item.Id)" data-toggle="modal" data-target="deleteModal">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="box-shadow card-footer">
                <nav aria-label="Page Navigation">
                    <ul class="pagination justify-content-center">
                        @for (int i = 1; i <= Model.Count; i++)
                        {
                            <li class="@(i == Model.Page ? "page-item active" : "page-item")">
                                <a class="page-link" href="@Url.Action("Index", new {Page = i})">@i</a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>


<!-- Modal Delete -->
<div class="modal fade" id="deleteModal" role="dialog" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirmar Borrado</h4>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                <h5>¿Esta seguro que desea borrar el registro?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="DeleteCourse()">Borrar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

@*hidden field for storing current courseId*@
<input type="hidden" id="hiddenId" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            
        });

        function ConfirmDelete(id) {
            $('#hiddenId').val(id);
            $('#deleteModal').modal('show');
        };

        function DeleteCourse() {
            var id = $('#hiddenId').val();
            var url = "@Url.Action("Delete")";
            $.ajax({
                type: "Delete",
                url: url,
                data: { id: id },
                success: function (res) {
                    $('#deleteModal').modal('hide');
                    $("#card_" + id).remove();
                },
                error: function (xhr, status) {
                    alert('Disculpe, existió un problema');
                },
                
            });
        };

    </script>
}
