@model PreRegisterViewModel

@{
    ViewData["Title"] = "PreInscription";
}

<form asp-controller="Account" asp-action="PreInscription" class="form-signin" style="width:100%; max-width:330px; padding:15px; margin:auto;">

    <h3 class="h3 mb-3 font-weight-normal text-center">Nuevo Usuario</h3>

    <partial name="_ValidationSummary" />

    <div class="form-group">
        @Html.LabelFor(model => model.UserName, "Usuario")
        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", tabindex = "1" })
        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RoleId, "Tipo de Usuario")
        @Html.DropDownListFor(model => model.RoleId, Model.Roles, "Seleccioné...", new { @class = "form-control", tabindex = "2" })
        @Html.ValidationMessageFor(model => model.RoleId, "", new { @class = "text-danger" })
    </div>

    <button class="btn btn-block btn-primary" type="submit">Guardar</button>
    <a class="btn btn-block btn-secondary" asp-controller="Home" asp-action="Index">Cancelar</a>
</form>

@section Scripts {

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); };

    <script type="text/javascript">

        $(document).ready(function () {
            
        });

    </script>
}
