@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<form method="post" asp-controller="Account" asp-action="Register" class="form-signin" style="width:100%; max-width:400px; padding:15px; margin:auto;">

    <h3 class="h3 mb-3 font-weight-normal text-center">Registrese</h3>

    <partial name="_ValidationSummary" />

    <div class="form-group">
        @Html.LabelFor(model => model.UserName, "Usuario")
        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", tabindex = "1" })
        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FirstName, "Nombre")
        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", tabindex = "2" })
        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LastName, "Apellido")
        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", tabindex = "3" })
        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email, "Correo Electronico")
        @Html.TextBoxFor(model => model.Email, new { @type = "email", @class = "form-control", tabindex = "4" })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Phone, "Telefono")
        @Html.TextBoxFor(model => model.Phone, "{0:#.#}", new { @type = "number", @class = "form-control", tabindex = "5" })
        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CellPhone, "Celular")
        @Html.TextBoxFor(model => model.CellPhone, "{0:#.#}", new { @type = "number", @class = "form-control", tabindex = "6" })
        @Html.ValidationMessageFor(model => model.CellPhone, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Address, "Dirección")
        @Html.TextBoxFor(model => model.Address, new { @class = "form-control", tabindex = "7" })
        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AdressNumber, "N° Dirección")
        @Html.TextBoxFor(model => model.AdressNumber, "{0:#.#}", new { @type = "number", @class = "form-control", tabindex = "8" })
        @Html.ValidationMessageFor(model => model.AdressNumber, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Password, "Contraseña")
        @Html.PasswordFor(model => model.Password, new { @class = "form-control", tabindex = "9" })
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ConfirmPassword, "Confirmar Contraseña")
        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", tabindex = "10" })
        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Registrar</button>

</form>

@section Scripts {

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); };

    <script type="text/javascript">

        $(document).ready(function () {

        });

    </script>
}